<section id="sub-nav">
    <div id="sub-nav-container">

        <ul class="sub-nav-menu" id="sub-nav-ciudad">
            <li>
                <a href="#">
                    La ciudad
                </a>
            </li>
            <li>
                <a href="#">
                    Educación
                </a>
            </li>
            <li>
                <a href="#">
                    Desarrollo social
                </a>
            </li>
            <li>
                <a href="#">
                    Mercados y ferias
                </a>
            </li>
            <li>
                <a href="#">
                    Cómo llegar
                </a>
            </li>
            <li>
                <a href="#">
                    Deportes y recreación
                </a>
            </li>
            <li>
                <a href="#">
                    Agenda cultural
                </a>
            </li>
            <li>
                <a href="#">
                    Obras públicas
                </a>
            </li>
        </ul>
        <ul class="sub-nav-menu" id="sub-nav-servicios">
            <li>

            </li>
            <li>
                <a href="#">
                    Guía de trámites
                </a>
            </li>
            <li>
                <a href="#">
                    Trámites online
                </a>
            </li>
            <li>
                <a href="#">
                    Seguridad
                </a>
            </li>
            <li>

            </li>
            <li>
                <a href="#">
                    Salud
                </a>
            </li>
            <li>
                <a href="#">
                    Espacio público
                </a>
            </li>
            <li>
                <a href="#">
                    ARQui
                </a>
            </li>
        </ul>
        <ul class="sub-nav-menu" id="sub-nav-gobierno">
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>
                <a href="#">
                    Intendente
                </a>
            </li>
            <li>
                <a href="#">
                    Secretarías
                </a>
            </li>
            <li>
                <a href="#">
                    Transparencia
                </a>
            </li>
        </ul>

        <div class="sub-nav-menu" id="sub-nav-buscar">


            <form id="form-buscar" action="#" method="post">
                <input type="text" placeholder="Buscar en quilmes.gov.ar"/>
            </form>
        </div>
        <button  id="sub-nav-close">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="15.034px" height="15px" viewBox="0 0 15.034 15" enable-background="new 0 0 15.034 15" xml:space="preserve">
            <g>
            <polygon fill="#FFFFFF" points="0.924,0 0,0.924 6.593,7.517 0.033,14.077 0.957,15 7.517,8.441 14.077,15 15,14.077 8.44,7.517 
                     15.034,0.924 14.11,0 7.517,6.593 	"/>
            </g>
            </svg>
        </button>

    </div>
</section>
<nav id="nav-principal">
    <div class="triangulo"></div>
    <div class="contenedor-sitio">        
        <a id="logo-quilmes-seccion" href="">
            <img src="img/logo-quilmes-municipio-positivo.svg" alt="Municipio de Quilmes"/>
        </a>
        <ul>
            <li>
                <a href="#" data-href-menu="gobierno">
                    Gobierno
                </a>
            </li>
            <li>
                <a href="#" data-href-menu="ciudad">
                    Ciudad
                </a>
            </li>
            <li>
                <a href="#" data-href-menu="servicios">
                    Servicios
                </a>
            </li>
            <li>
                <a href="http://google.com" data-href-menu="noticias">
                    Noticias
                </a>
            </li>
            <li class="buscar">
                <a href="" data-href-menu="buscar">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                    <path  d="M18,16.907l-5.311-5.315c0.975-1.219,1.561-2.77,1.561-4.458C14.25,3.192,11.058,0,7.125,0
                           C3.188,0,0,3.197,0,7.134c0,3.937,3.192,7.134,7.125,7.134c1.697,0,3.253-0.596,4.476-1.584L16.908,18L18,16.907z M2.615,11.653
                           C1.411,10.448,0.75,8.845,0.75,7.139c0-1.706,0.666-3.309,1.865-4.514c1.2-1.205,2.809-1.875,4.51-1.875s3.304,0.666,4.509,1.87
                           S13.5,5.428,13.5,7.134s-0.666,3.309-1.865,4.514c-1.205,1.204-2.808,1.87-4.509,1.87C5.424,13.522,3.82,12.857,2.615,11.653z"/>
                    </svg>
                </a>
            </li>
        </ul>

        <button id="mobile-menu-bt">
            <i></i>
            <i></i>
            <i></i>
        </button>
    </div>
    <div id="nav-mobile">
        <div id="nav-mobile-bg">
            <div class="col-nav-footer">
                <h4>Gobierno</h4>
                <ul>
                    <li>
                        <a href="#">
                            Intendente
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Secretarias
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Transparencia
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-nav-footer">
                <h4>Ciudad</h4>
                <ul>
                    <li>
                        <a href="#">
                            La Ciudad
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Cómo llegar
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Educación
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Deportes y recreación
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Desarrollo social
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Agenda cultural
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mercados y ferias
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Obras públicas
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-nav-footer">
                <h4>Servicios</h4>
                <ul>
                    <li>
                        <a href="#">
                            Guía de trámites
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Trámites online
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Seguridad
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Salud
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Ambiente y espacio público
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Arqui
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-nav-footer">
                <h4>Ciudad</h4>
                <ul>
                    <li>
                        <a href="#">
                            La Ciudad
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Cómo llegar
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Educación
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Deportes y recreación
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Desarrollo social
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Agenda cultural
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mercados y ferias
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Obras públicas
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</nav>